.skill {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.3rem;
}

.skill-tag {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  border-radius: 15px;
  border: 1px solid #d9d9d9;
  padding: 0.2rem 0.6rem;
  font-size: 12px;
}

@media screen and (max-width: 767px) {
  .skill-tag {
    font-size: 11px;
  }
}
