.intro-text {
  font-size: 50px;
}
.intro-text > ul > li {
  color: #3e3e3e;
  line-height: 4rem;
}

.bold {
  font-weight: 600;
}

@media screen and (max-width: 1024px) {
  .intro-text {
    font-size: 40px;
  }
}
@media screen and (max-width: 767px) {
  .intro-text {
    font-size: 28px;
  }
  .intro-text > ul > li {
    line-height: 2.5rem;
  }
}
