.profile-wrap {
  position: relative;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  border: 2.5px solid var(--primary-300);
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  .profile-wrap {
    width: 180px;
    height: 180px;
  }
}
@media screen and (max-width: 767px) {
  .profile-wrap {
    display: none;
  }
}
