.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.skill-text {
  font-size: 26px;
  font-weight: 600;
}

.skill-icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

@media screen and (max-width: 1024px) {
  .skill-text {
    font-size: 22px;
  }
}
@media screen and (max-width: 767px) {
  .content {
    gap: 1rem;
  }
  .skill-text {
    font-size: 18px;
  }
  .skill-icons {
    gap: 0.5rem;
  }
}
