.flex-style {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.text {
  font-size: 20px;
  line-height: 2rem;
  font-weight: 400;
}
.bold {
  font-size: 22px;
  font-weight: 700;
}
.highlight {
  background: linear-gradient(#f0e277 0 100%);
  background-position: 0 calc(100% - 2px);
  background-size: 0 14px;
  background-repeat: no-repeat;
  animation: highlightAnimation 1s forwards;
  animation-delay: 0.5s;
}
@keyframes highlightAnimation {
  from {
    background-size: 0 14px;
  }
  to {
    background-size: 100% 14px;
  }
}

@media screen and (max-width: 1024px) {
  .flex-style {
    width: 100%;
  }
  .text {
    font-size: 18px;
  }
  .highlight {
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  .flex-style {
    width: 100%;
  }
  .text {
    font-size: 16px;
    line-height: 1.8rem;
  }
  .highlight {
    font-size: 18px;
  }
}
