.study-item {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #f1f1f1;
  padding: 2.3rem 0;
  border-radius: 12px;
}
.item-img {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  width: 130px;
  height: 130px;
}

@media screen and (max-width: 767px) {
  .study-item {
    padding: 0.8rem 0;
  }
  .item-img {
    display: none;
  }
}
