.study-item {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.item-img {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  width: 130px;
  height: 130px;
}

@media screen and (max-width: 767px) {
  .item-img {
    display: none;
  }
}
