.study-list-wrap {
  width: 100%;
  max-width: 1000px;
}

.study-list-ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  padding: 20px;
}

@media screen and (max-width: 767px) {
  .hr-wrap {
    margin-bottom: 39px;
    padding: 0 20px;
  }
  .study-list-ul {
    gap: 20px;
    margin-bottom: 30px;
  }
}
