.content-wrap {
  margin: 0 auto;
  max-width: 60vw;
}

.content-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #dedede;
  gap: 2rem;
  padding: 0.5rem 0.5rem 0.7rem 0.5rem;
}

.header-h1 {
  font-size: 3rem;
  font-weight: 700;
}

.header-icon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

@media screen and (max-width: 768px) {
  .content-wrap {
    max-width: 100%;
    padding: 0 20px;
  }
}
