.profile-image {
  display: inline-block;
  animation: motion 4s linear 0s infinite alternate;
  overflow: hidden;
}
@keyframes motion {
  0% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}
