.my-header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  padding: 30px 60px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.my-header.active {
  transform: translateY(-100%);
}

.link {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  font-weight: 600;
  font-size: 20px;
}
.link span {
  margin-right: 8px;
}

@media screen and (max-width: 1024px) {
  .my-header {
    padding: 1.5rem;
  }
}
